<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'context_menu' %>
    <%= javascript_include_tag 'context_menu' %>
    <%= stylesheet_link_tag 'scm' %>
    <%= stylesheet_link_tag 'wiki' %>
    <%= stylesheet_link_tag 'patch_notes', plugin: 'redmine_tx_patchnotes' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/exceljs/4.3.0/exceljs.min.js"></script>
    <%= javascript_include_tag 'patchnotes_index', plugin: 'redmine_tx_patchnotes' %>
<% end %>

<div class="tabs" style="height: 48px;">
    <ul>
        <% @versions.each do |version| %>
            <li><%= link_to version.name.to_s, '?version_id=' + version.id.to_s, class: @selected_version.id == version.id ? 'selected' : '' %></li>
        <% end %>
    </ul>
</div>

<% active_tab = params[:tab] || '1' %>
<% total_notes = @public_notes.count + @internal_notes.count %>

<div class="pn-content-tabs" data-version-name="<%= @selected_version.name %>">
    <ul>
        <li>
            <a href="#" class="tab-link <%= active_tab == '1' ? 'active' : '' %>" data-tab="inner-tab-1">
                패치노트
                <span class="<%= tab_count_class(total_notes, :notes) %>"><%= total_notes %></span>
            </a>
        </li>
        <li>
            <a href="#" class="tab-link <%= active_tab == '2' ? 'active' : '' %>" data-tab="inner-tab-2">
                작성 완료
                <span class="<%= tab_count_class(@issues_patch_note_complete.count, :complete) %>"><%= @issues_patch_note_complete.count %></span>
            </a>
        </li>
        <li>
            <a href="#" class="tab-link <%= active_tab == '3' ? 'active' : '' %>" data-tab="inner-tab-3">
                예외
                <span class="<%= tab_count_class(@no_patch_note_issues.count, :exception) %>"><%= @no_patch_note_issues.count %></span>
            </a>
        </li>
        <li>
            <a href="#" class="tab-link <%= active_tab == '4' ? 'active' : '' %>" data-tab="inner-tab-4">
                누락
                <span class="<%= tab_count_class(@issues_need_patch_notes.count, :missing) %>"><%= @issues_need_patch_notes.count %></span>
            </a>
        </li>
        <li>
            <a href="#" class="tab-link <%= active_tab == '5' ? 'active' : '' %>" data-tab="inner-tab-5">
                미기재 완료
                <span class="<%= tab_count_class(@issues_complete_without_patch_notes.count, :warning) %>"><%= @issues_complete_without_patch_notes.count %></span>
            </a>
        </li>
    </ul>
</div>

<div>
    <%# === Tab 1: Patch Notes === %>
    <div id="inner-tab-1" class="tab-panel <%= active_tab == '1' ? 'active' : '' %>">

        <% if @public_notes.empty? && @internal_notes.empty? %>
            <div class="pn-empty-state">
                <span class="pn-empty-state-icon">&#128196;</span>
                이 버전에 작성된 패치노트가 없습니다.
            </div>
        <% end %>

        <% if @public_notes.any? %>
            <h2 class="pn-section-header--public">공개용 패치노트 (<%= @public_notes.count %>)</h2>

            <% allow_multi = Setting[:plugin_redmine_tx_patchnotes][:allow_multiple_parts].to_s == '1' %>
            <% @public_notes_by_part.each do |part, notes| %>
                <div class="pn-part-header">
                    <% if allow_multi %>
                        <h3 class="pn-part-title">Part #<%= part %></h3>
                    <% end %>
                    <div class="pn-part-actions">
                        <a href="#" onclick="exportPatchNotesToExcel(<%= part %>, 'public'); return false;" class="icon icon-download button">엑셀</a>
                        <a href="#" onclick="copyPatchNotes(<%= part %>, 'public'); return false;" class="icon icon-copy button">복사</a>
                    </div>
                </div>
                <div class="version-box">
                    <ul class="patch-notes-list-public-<%= part %>" id="patch-notes-list-public-<%= part %>">
                        <% notes.each do |note| %>
                            <% worker_name = resolve_worker_name(note[:issue], @worker_users_map) %>
                            <li class="note-item"
                                style="border-left-color: <%= tracker_color(note[:issue].tracker.name) %>;"
                                data-issue-id="<%= note[:issue].id %>"
                                data-issue-url="<%= issue_url(note[:issue]) %>"
                                data-tracker="<%= note[:issue].tracker.name %>"
                                data-category="<%= note[:issue].category.present? ? note[:issue].category.name : '' %>"
                                data-status="<%= note[:issue].status.name %>"
                                data-priority="<%= note[:issue].priority.name %>"
                                data-done-ratio="<%= note[:issue].done_ratio %>"
                                data-assignee="<%= worker_name %>">
                                <div class="note-item-header">
                                    <span class="pn-tracker-badge" style="background-color: <%= tracker_color(note[:issue].tracker.name) %>;"><%= note[:issue].tracker.name %></span>
                                    <strong class="note-item-title">
                                        <%= note[:issue].subject %> <%= link_to "##{note[:issue].id}", issue_path(note[:issue]) %>
                                    </strong>
                                    <% if worker_name.present? %>
                                        <span class="pn-assignee-tag"><%= worker_name %></span>
                                    <% end %>
                                </div>
                                <div class="note-item-content wiki">
                                    <%= textilizable(note[:notes], :object => note[:issue]) %>
                                </div>
                            </li>
                        <% end %>
                    </ul>
                </div>
            <% end %>
        <% end %>

        <% if @internal_notes.any? %>
            <h2 class="pn-section-header--internal">내부 참조용 패치노트 (<%= @internal_notes.count %>)</h2>
            <p class="pn-internal-warning">이 섹션의 패치노트는 유저 공개용 패치노트에 포함되지 않습니다.</p>

            <% @internal_notes_by_part.each do |part, notes| %>
                <div class="pn-part-header">
                    <% if allow_multi %>
                        <h3 class="pn-part-title">내부 Part #<%= part %></h3>
                    <% end %>
                    <div class="pn-part-actions">
                        <a href="#" onclick="exportPatchNotesToExcel(<%= part %>, 'internal'); return false;" class="icon icon-download button">엑셀</a>
                        <a href="#" onclick="copyPatchNotes(<%= part %>, 'internal'); return false;" class="icon icon-copy button">복사</a>
                    </div>
                </div>
                <div class="version-box version-box--internal">
                    <ul class="patch-notes-list-internal-<%= part %>" id="patch-notes-list-internal-<%= part %>">
                        <% notes.each do |note| %>
                            <% worker_name = resolve_worker_name(note[:issue], @worker_users_map) %>
                            <li class="note-item"
                                style="border-left-color: <%= tracker_color(note[:issue].tracker.name) %>;"
                                data-issue-id="<%= note[:issue].id %>"
                                data-issue-url="<%= issue_url(note[:issue]) %>"
                                data-tracker="<%= note[:issue].tracker.name %>"
                                data-category="<%= note[:issue].category.present? ? note[:issue].category.name : '' %>"
                                data-status="<%= note[:issue].status.name %>"
                                data-priority="<%= note[:issue].priority.name %>"
                                data-done-ratio="<%= note[:issue].done_ratio %>"
                                data-assignee="<%= worker_name %>">
                                <div class="note-item-header">
                                    <span class="pn-tracker-badge" style="background-color: <%= tracker_color(note[:issue].tracker.name) %>;"><%= note[:issue].tracker.name %></span>
                                    <strong class="note-item-title">
                                        <%= note[:issue].subject %> <%= link_to "##{note[:issue].id}", issue_path(note[:issue]) %>
                                    </strong>
                                    <% if worker_name.present? %>
                                        <span class="pn-assignee-tag"><%= worker_name %></span>
                                    <% end %>
                                </div>
                                <div class="note-item-content wiki">
                                    <%= textilizable(note[:notes], :object => note[:issue]) %>
                                </div>
                            </li>
                        <% end %>
                    </ul>
                </div>
            <% end %>
        <% end %>

    </div>

    <%# === Tab 2: Issues with patch notes complete === %>
    <div id="inner-tab-2" class="tab-panel <%= active_tab == '2' ? 'active' : '' %>">
        <h3>패치노트 작성 완료 일감</h3>
        <% if @issues_patch_note_complete.any? %>
            <div class="version-box">
                <%= render_issues_list(@issues_patch_note_complete, @project) %>
            </div>
        <% else %>
            <div class="pn-empty-state">
                <span class="pn-empty-state-icon">&#9989;</span>
                패치노트 작성이 완료된 일감이 없습니다.
            </div>
        <% end %>
    </div>

    <%# === Tab 3: Issues excluded from patch notes === %>
    <div id="inner-tab-3" class="tab-panel <%= active_tab == '3' ? 'active' : '' %>">
        <h3>패치노트 작성 예외 일감</h3>
        <% if @no_patch_note_issues.any? %>
            <div class="version-box">
                <%= render_issues_list(@no_patch_note_issues, @project) %>
            </div>
        <% else %>
            <div class="pn-empty-state">
                <span class="pn-empty-state-icon">&#128683;</span>
                패치노트 작성 예외 처리된 일감이 없습니다.
            </div>
        <% end %>
    </div>

    <%# === Tab 4: Issues missing patch notes === %>
    <div id="inner-tab-4" class="tab-panel <%= active_tab == '4' ? 'active' : '' %>">
        <h3>패치노트 누락 일감</h3>
        <% if @issues_need_patch_notes.any? %>
            <div class="version-box">
                <%= render_issues_list(@issues_need_patch_notes, @project) %>
            </div>
        <% else %>
            <div class="pn-empty-state">
                <span class="pn-empty-state-icon">&#127881;</span>
                모든 일감의 패치노트가 작성되었습니다.
            </div>
        <% end %>
    </div>

    <%# === Tab 5: Completed without patch notes === %>
    <div id="inner-tab-5" class="tab-panel <%= active_tab == '5' ? 'active' : '' %>">
        <h3>패치노트 기재 없이 완료 처리된 일감</h3>
        <% if @issues_complete_without_patch_notes.any? %>
            <div class="version-box">
                <%= render_issues_list(@issues_complete_without_patch_notes, @project) %>
            </div>
        <% else %>
            <div class="pn-empty-state">
                <span class="pn-empty-state-icon">&#128077;</span>
                패치노트 없이 완료된 일감이 없습니다.
            </div>
        <% end %>
    </div>
</div>

<%= context_menu %>
